<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carbon Footprint Game</title>
    <link rel="stylesheet" href="static/app.css">
</head>
<body>
    <div class="header">
    <h1>Carbon Footprint Game</h1>
</div>
    <div class="button-grid">
      
        <button class="button5">I drove 15+ miles</button>
   
        <button class="button5">Bought from Eco-Friendly Store</button>

        <button class="button5">Walked 2+ miles</button>

        <button class="button5">I took a flight</button>

        <button class="button5">I forgot to recycle</button>

        <button class="button5">I recycled!</button>

        <button class="button5">Bought from a consumerist website</button>

        <button class="button5">I biked 5+ miles</button>

        <!-- Add more options here -->
    </div>
    <div id="footprint">Carbon Footprint: <span id="carbon">0</span></div>
    <script src="static/script.js"></script>
</body>
</html>
