<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carbon Footprint Game</title>
    <link rel="stylesheet" href="static/app.css">
</head>
<body>
    <div class="header1">
    <h1>Carbon Footprint Game</h1>
    <div class="carbon-counter">
        Carbon Footprint: <span id="carbon">0</span>
        
    </div>
</div>
    <div class="button-grid">
      
   
        <button class="button5">Bought from Eco-Friendly Store</button>

        <button class="button6">I drove 15+ miles</button>

        <button class="button7">Walked 2+ miles</button>

        <button class="button8">I took a flight</button>

        <button class="button9">I biked 5+ miles</button>

        <button class="button10">I forgot to recycle</button>

        <button class="button11">I recycled!</button>

        <button class="button12">Bought from a consumerist website</button>


        <!-- Add more options here -->
    </div>
    <script src="static/script.js"></script>
</body>
</html>
