<head>





<link rel="stylesheet" href="app.css">


<div class = "header"><h1><center>Welcome to the Home Page</center></h1></div>
<p class="paragraph"><center>Which assistant would you like to talk to today?</center></p>
<div class="row">
    <div class="column" style = "background-color: #547c64;"><center><button class="button1" type="button" onclick="">Eco Buddy</button></center></div>
    <div class="column" style = "background-color: #547c64;"><center><button class="button1" type="button">Health Advice</button></center></div>


</div>

<div class="footer">
    <div class="BGreen"><img id="blob" src="green_blob_crop.png"></div>
</head>

