<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Home Page</title>
    <link rel="stylesheet" href="static\app.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="/news">News</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </div>
    <div class="header">
        <h1><center>Welcome to the Home Page</center></h1>
    </div>
    <p class="paragraph">
        <center>Which assistant would you like to talk to today?</center>
    </p>
    <div class="row">
        <div class="column" style="background-color: #547c64;">
            <center><button class="button1" type="button" onclick="">Talk to Eco Buddy</button></center>
        </div>
        <div class="column" style="background-color: #547c64;">
            <center><a href="/carbon"><button class="button1" type="button">Reduce, Reuse, Recycle, Rewards!</button></a></center>
        </div>
    </div>
    <div class="row">
        <div class="column2">
            <center><h2 class="header2">Little Salmon</h2></center>
            <center><p>The first refill store in Buffalo, New York.</p></center>
        </div>
        <div class="column">
            <div class="container">
                <center><img src="static\little_salmon.jpg" alt="lil_salmon" class="image"></center>
                <div class="overlay">My Name is John</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="BGreen"><img id="blob" src="static\green_blob_crop.png"></div>
    </div>
</body>
</html>
